.icon_container {
  width: fit-content;
  display: grid;
  place-items: center;
  gap: 10px;
}

.welcome_btn[clicked="false"] {
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.welcome_btn[clicked="true"] {
  background: white url("../../assets/icons/decentralized-network-100.svg")
    no-repeat center center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transform-origin: center;
  animation: welcome_btn_clicked 300ms ease-out;
}

@keyframes welcome_btn_clicked {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 110px;
    height: 110px;
  }
}
