@font-face {
  font-family: custom-font;
  font-style: normal;
  font-weight: 500;
  /* src: url("assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype"); */
  src: url("../assets/fonts/e-Ukraine-Regular.ttf") format("truetype");
}

@font-face {
  font-family: emoji-font;
  font-style: normal;
  src: url("../assets/fonts/Symbola-Emoji.woff") format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

body {
  font-family: custom-font, Roboto, sans-serif, -apple-system,
    BlinkMacSystemFont;
  cursor: default;
}

[hide="true"] {
  display: none !important;
}

:root {
  --light-blue-clr: hsl(192, 84%, 65%);
  --medium-blue-clr: hsl(192, 76%, 59%);
  --dark-blue-clr: hsl(192, 61%, 50%);

  --light-purple-clr: #b22d91;
  --dark-purple-clr: #312a6c;
  --light-gray-bg-clr: #cccccc;
  --slightly-gray-bg-clr: #b8b8b8;
  --light-gray-txt-clr: #555050;
  --df-padding: 5px 12.5px;
  --df-border: 1px solid black;
}
